{% block head %}
    {% include 'partial/head.twig' %}
    {% include 'partial/header.twig' %}
{% endblock %}

{% block content %}
    <div id="menu">{% block menu %}{% endblock %}</div>
    <div id="text">{% block text %}{% endblock %}</div>
    <div id="commerials">{% block commercials %}{% endblock %}</div>
{% endblock %}

{%  block footer %}
    {% include 'partial/footer.twig' %}
{% endblock %}