{% extends 'base.twig' %}
{% block content %}
    <body>
    {% block menu %}
        {% include 'modules/menu.twig' %}
    {% endblock %}
    {% block leftsidetext %}
        {% include leftsidetext %}
    {% endblock %}
    {% block text %}
        {% include 'partial/content.twig' %}
    {% endblock %}
    {% block commercials %}
        {% include contents %}
    {% endblock %}
    </body>
{% endblock %}