{% extends 'base.twig' %}
{% block content %}
    <body>
    {% block menu %}
        <div>
            ooooyeah!
        </div>
    {% endblock %}
    {% block text %}
        {% include 'partial/content.twig' %}
    {% endblock %}
    </body>
{% endblock %}