{% block bjgamemenu %}
    <form id="bjGameMenuForm" action="index.php" method="post">
        <input type="submit" id="blackJackPlayButton" name="blackJackPlayButton" value="Play"/>
        <input type="submit" id="blackJackExitButton" name="blackJackExitButton" value="Exit"/>
        <input type="submit" id="blackJackBetButton" name="blackJackBetButton" value="Bet"/>
        <input type="submit" id="blackJackCardButton" name="blackJackCardButton" value="Card"/>
        <input type="submit" id="blackJackRiseButton" name="blackJackRiseButton" value="Rise"/>
        <input type="submit" id="blackJackHoldButton" name="blackJackHoldButton" value="Hold"/>
        <input type="submit" id="blackJackFoldButton" name="blackJackFoldButton" value="Fold"/>
    </form>
    {#
    <button id="blackJackPlayButton" name="blackJackPlayButton">Play</button>
    <button id="blackJackExitButton" name="blackJackExitButton">Exit</button>
    <button id="blackJackBetButton" name="blackJackBetButton">Bet</button>
    <button id="blackJackCardButton" name="blackJackCardButton">Card</button>
    <button id="blackJackRiseButton" name="blackJackRiseButton">Rise</button>
    <button id="blackJackHoldButton" name="blackJackHoldButton">Hold</button>
    <button id="blackJackFoldButton" name="blackJackFoldButton">Fold</button>
    #}
    <script>
        /*
            $(document).ready(function () {
                $(document.getElementById('blackJackCardButton')).click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '../../phphome/atwork/index.php',
                        data: {action: 'blackJackCardButton'},
                        success: alert('New Card Action Success'),
                    });
                });
            });
            $(document).ready(function () {
                $(document.getElementById('blackJackExitButton')).click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '../../phphome/atwork/index.php',
                        data: {action: 'blackJackExitButton'},
                        success: alert('Exit Action Success'),
                    });
                });
            });*/
    </script>
{% endblock %}