<div id="blackJackMainMenu">
    <form id="blackJackMainMenuForm" method="POST">
    <input type="submit" class="blackJackMainMenuElements" id="startPlayBlackJack" name="startPlayBlackJack" value="Play">
    <input type="submit" class="blackJackMainMenuElements" id="settingsBlackJack" name="startPlayBlackJack" value="Settigs">
    <input type="submit" class="blackJackMainMenuElements" id="exitBlackJack" name="startPlayBlackJack" value="Exit">
    </form>
</div>