<div id="bjwindows">
    <div id="dealerwindow">
        <div id="dealerCards"></div>
        <div id="dealerData"></div>
    </div>
    <div id="playerwindow">
        <div id="playerCards"></div>
        <div id="playerData"></div>
    </div>
</div>