<div id="forgotPassword">
    <form method="POST">
        <label>Enter your e-mail here:</label>
        <input type="text" id="forgotPasswordSendEmail" onchange="validator()">
        <input type="submit" name="forgotPasswordSendRequest" id="forgotPasswordSendRequest" value="Send password!">
    </form>
</div>
<script>
    function validator() {
        var x = document.getElementById('forgotPasswordSendEmail').value;
        if(x !== 'admin')
        {
            document.getElementById('forgotPasswordSendEmail').style.border='solid red';
            document.getElementById('forgotPasswordSendRequest').style.pointerEvents = 'none';
            document.getElementById('forgotPasswordSendRequest').style.color = 'grey';
        }
        else
        {
            document.getElementById('forgotPasswordSendEmail').style.border='solid green';
            document.getElementById('forgotPasswordSendRequest').style.pointerEvents = 'auto';
            document.getElementById('forgotPasswordSendRequest').style.color = 'black';
        }
    };
</script>