<div id="menuLine">
    <div class="userMenu">
        <ul>
            <li class="mainMenuElementsli"><a href="#" class="mainMenuElements" id="menuMainElement1"
                                              onmouseover="showOrHide('userMenu')"
                                              onmouseout="showOrHide('noMenu')"><label>User</label></a>
                <ul>
                    <div class="dropdown">
                        <li><a href="#" class="menuUserElements" id="menuUserElement1"
                               onmouseover="showOrHide('userMenu')"
                               onmouseout="showOrHide('noMenu')"><label>Profil</label></a></li>
                        <li><a href="#" class="menuUserElements" id="menuUserElement2"
                               onmouseover="showOrHide('userMenu')"
                               onmouseout="showOrHide('noMenu')"><label>Friends</label></a></li>
                        <li><a href="#" class="menuUserElements" id="menuUserElement3"
                               onmouseover="showOrHide('userMenu')"
                               onmouseout="showOrHide('noMenu')"><label>Settings</label></a></li>
                    </div>
                </ul>
            </li>
            <li class="mainMenuElementsli"><a href="#" class="mainMenuElements" id="menuMainElement2"
                                              onmouseover="showOrHide('informationMenu')"
                                              onmouseout="showOrHide('noMenu')"><label>Information</label></a>
                <ul>
                    <div class="dropdown">
                        <li><a href="#" class="menuInfoElements" id="menuInformationElement1"
                               onmouseover="showOrHide('informationMenu')"
                               onmouseout="showOrHide('noMenu')"><label>Company</label></a>
                        </li>
                        <li><a href="#" class="menuInfoElements" id="menuInformationElement2"
                               onmouseover="showOrHide('informationMenu')"
                               onmouseout="showOrHide('noMenu')"><label>Connection</label></a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="mainMenuElementsli"><a href="#" class="mainMenuElements"
                                              id="menuMainElement3"><label>Search</label></a></li>
        </ul>
    </div>

    <button id="blackJackWindow" name="blackJackWindow">BlackJackWindow</button>
    <div class="menuFirst">
        <form id="blackjackForm" method="post">
            <input type="submit" id="calculatorShow" name="calculatorShow" value="Calculator"
                   onmouseenter="changeColor('calculatorShow')"
                   onmouseleave="changeColor('nope')" onclick="showOrHide('calculator')"/>

            <input type="submit" id="blackJackShow" name="blackJackShow" value="BlackJack"
                   onmouseenter="changeColor('blackJackShow')"
                   onmouseleave="changeColor('nope')"/>
        </form>
        {#
        <button id="calculatorShow" name="calculatorShow" onmouseenter="changeColor('calculatorShow')"
                onmouseleave="changeColor('nope')" onclick="showOrHide('calculator')">Calculator
        </button>
        <button id="blackJackShow" name="blackJackShow" onmouseenter="changeColor('blackJackShow')"
                onmouseleave="changeColor('nope')" onclick="showOrHide('blackJackShow')">BlackJack
        </button>
        #}
        {#
        <form id="blackjackForm" action="../atwork/index.php" method="post">
            <input type="submit" id="calculatorShow" name="calculatorShow" value="Calculator"
                   onmouseenter="changeColor('calculatorShow')"
                   onmouseleave="changeColor('nope')" onclick="showOrHide('calculator')"/>
            <input type="submit" id="blackJackShow" name="blackJackShow" value="BlackJack"
                   onmouseenter="changeColor('blackJackShow')"
                   onmouseleave="changeColor('nope')"/>
        </form>
        #}
    </div>
    {#
    <input type="submit" id="calculatorShow" nane="calculatorShow" value="Calculator"
           onmouseenter="changeColor('calculatorShow')"
           onmouseleave="changeColor('nope')" onclick="showOrHide('calculator')"/>

        <button id="calculatorShow" name="calculatorShow" onmouseenter="changeColor('calculatorShow')"
                onmouseleave="changeColor('nope')" onclick="showOrHide('calculator')">Calculator
        </button>
        <button id="blackJackShow" name="blackJackShow" onmouseenter="changeColor('blackJackShow')"
                onmouseleave="changeColor('nope')" onclick="showOrHide('blackJackShow')">BlackJack
        </button>
        #}
</div>
<script>
    function
    changeColor(colorChangedButton) {
        if (colorChangedButton == 'calculatorShow') {
            document.getElementById('calculatorShow').style.backgroundColor = 'yellow';
            document.getElementById('blackJackShow').style.backgroundColor = 'aqua';
        } else if (colorChangedButton == 'blackJackShow') {
            document.getElementById('blackJackShow').style.backgroundColor = 'yellow';
            document.getElementById('calculatorShow').style.backgroundColor = 'aqua';
        } else {
            document.getElementById('calculatorShow').style.backgroundColor = 'aqua';
            document.getElementById('blackJackShow').style.backgroundColor = 'aqua';
        }
    }

    function
    showOrHide(showthis) {
        if (showthis == 'userMenu') {
            var x = document.getElementsByClassName("menuUserElements");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "block";
            }
            var y = document.getElementsByClassName("menuInfoElements");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
        } else if (showthis == 'informationMenu') {
            var x = document.getElementsByClassName("menuInfoElements");
            for (var i = 0; i < x.length; i++) {
                x[i].style.display = "block";
            }
            var y = document.getElementsByClassName("menuUserElements");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
        } else if (showthis == 'noMenu') {
            var x = document.getElementsByClassName("menuUserElements");
            for (var i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            var y = document.getElementsByClassName("menuInfoElements");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
        } else {
            var x = document.getElementsByClassName("menuUserElements");
            for (var i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            var y = document.getElementsByClassName("menuInfoElements");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
        }
    }

    {#$(document).ready(function () {
        $(document.getElementById("blackJackShow")).click(function () {
            $.post('../atwork/index.php', "blackJackShow", function (response) {
                // Log the response to the console
                console.log("Response: " + response);
                alert("WTF Succes");
            });
        });
    });

    /* attach a submit handler to the form */
    $("#blackjackForm").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get the action attribute from the <form action=""> element */
        var $form = $( this ),
            url = $form.attr( 'action' );

        /* Send the data using post with element id name and name2*/
        var posting = $.post( url, 'blackJackShow');

        /* Alerts the results */
        posting.done(function( data ) {
            alert('Form Action Success');
        });
    });#}

    /*

$(document).ready(function () {
$(document.getElementById('blackJackShow')).click(function () {
    $.ajax({
        type: 'POST',
        url: '../../phphome/atwork/index.php',
        data:  {action: 'blackJackShow'},
        success: alert('Form Action Success'),
    });
});
});

function showHint(str) { // working
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "index.php?q=" + str, true);
    xmlhttp.send();
}

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('POST', '../atwork/index.php', false);
    xmlhttp.send('blackJackShow');
    document.getElementById('bjwindows').style.display = 'block';
    document.getElementById('calculator').style.display = 'none';
    /*
    $.ajax({
        type: 'POST',
        url: '../atwork/index.php',
        cache: false,
        data: 'blackJackShow',
        success: alert('Form Action Success'),
    });
    event.preventDefault();
    /*$.ajax({
        type: "POST",
        url: '../atwork/index.php',
        data: 'blackJackShow',

        success: function (response) {
            alert(response);
        }
    });
    /*$.ajax({
        url: 'index.php',
        data: 'blackJackShow',
        success: function (response) {//response is value returned from php (for your example it's "bye bye"
            alert(response);
        }
    });*/
    $(document).ready(function () {
        $(document.getElementById("calculatorShow")).click(function () {
            document.getElementById('bjwindows').style.display = 'none';
            document.getElementById('calculator').style.display = 'block';
        });
    });

    $(document).ready(function () {
        $(document.getElementById("blackJackShow")).click(function () {
            document.getElementById('bjwindows').style.display = 'block';
            document.getElementById('calculator').style.display = 'none';
        });
    });
    $(document).ready(function () {
        $(document.getElementById("blackJackWindow")).click(function () {
            document.getElementById('bjwindows').style.display = 'block';
            document.getElementById('calculator').style.display = 'none';
        });
    });
</script>