<div id="recipeSearchMainDiv">
    <form>
        <div>
            <label id="recipeMainText">Recept kereső:</label>
            <label id="recipeMainInput">
                <input type="text" class="recipeSearch" id="recipeSearch" name="recipeSearch" required>
            </label>
        </div>
        <div>
            <input type="submit" class="recipeSearchButtons" id="recipeSearchButtonsSearch" name="" value="Search">
            <input type="reset" class="recipeSearchButtons" id="recipeSearchButtonsReset" name="" value="Reset">
        </div>
    </form>
</div>