<div id="register">
    <form id="regsiterForm" method="post">
        <div>
            <div>
                <label class="registerFormLabelClass" id="registerUsernameLabel"
                       name="registerUsernameLabel">Username:</label>
                <input type="text" class="registerFormInputClass" id="registerUsernameInput" name="registerUsernameInput"
                       required>
            </div>
            <div>
                <label class="registerFormLabelClass" id="registerEmailLabel" name="registerEmailLabel">E-mail:</label>
                <input type="text" class="registerFormInputClass" id="registerEmailInput" name="registerEmailInput" required>
            </div>
            <div>
                <label class="registerFormLabelClass" id="registerFirstnameLabel"
                       name="registerFirstnameLabel">Firstname:</label>
                <input type="text" class="registerFormInputClass" id="registerFirstnameInput" name="registerFirstnameInput"
                       required>
            </div>
            <div>
                <label class="registerFormLabelClass" id="registerLastnameLabel"
                       name="registerLastnameLabel">Lastname:</label>
                <input type="text" class="registerFormInputClass" id="registerLastnameInput" name="registerLastnameInput"
                       required>
            </div>
            <div>
                <label class="registerFormLabelClass" id="registerPasswordLabel"
                       name="registerPasswordLabel">Pssword:</label>
                <input type="password" class="registerFormInputClass" id="registerPasswordInput" name="registerPasswordInput"
                       required>
            </div>
            <div>
                <label class="registerFormLabelClass" id="registerRePasswordLabel"
                       name="registerRePasswordLabel">Re-Pssword:</label>
                <input type="password" class="registerFormInputClass" id="registerRePasswordInput"
                       name="registerRePasswordInput"
                       required>
            </div>
            <div>
                <label class="registerFormLabelClass" id="registerDateofbirthLabel" name="registerDateofbirthLabel">
                    Date of Birth:</label>
                <input type="text" class="registerFormInputClass" id="registerYearInput" name="registerYearInput" required>
                <input type="text" class="registerFormInputClass" id="registerMonthInput" name="registerMonthInput" required>
                <input type="text" class="registerFormInputClass" id="registerDayInput" name="registerDayInput" required>
            </div>
        </div>
        <div>
            <input type="submit" class="registerFormButtons" id="sendRegisterForm" name="sendRegisterForm"
                   value="Register">
            <input type="reset" class="registerFormButtons" id="resetRegisterForm" name="resetRegisterForm"
                   value="Cancel">
        </div>
    </form>
</div>