<head>
    <meta charset="UTF-8">
    <title>AtWork!</title>
    <script src="../atwork/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../atwork/style/style.css">
    <link rel="stylesheet" type="text/css" href="../atwork/style/blackJack.css">
    <link rel="stylesheet" type="text/css" href="../atwork/style/styleRegisterForm.css">
    <link rel="stylesheet" type="text/css" href="../atwork/style/recipe.css">
</head>